In [1]:
! pip install pandas

Requirement already satisfied: pandas in c:\users\hp\desktop\data science\liet_data\lib\site-packages (3.0.1)
Requirement already satisfied: numpy>=1.26.0 in c:\users\hp\desktop\data science\liet_data\lib\site-packages (from pandas) (2.4.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\hp\desktop\data science\liet_data\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: tzdata in c:\users\hp\desktop\data science\liet_data\lib\site-packages (from pandas) (2025.3)
Requirement already satisfied: six>=1.5 in c:\users\hp\desktop\data science\liet_data\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

[notice] A new release of pip is available: 23.2.1 -> 26.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
import pandas as pd

In [3]:
#file ko read karne ke liye
df=pd.read_csv('loan_data.csv')

In [4]:
df

,person_age,person_gender,person_education,person_income,person_emp_exp,person_home_ownership,loan_amnt,loan_intent,loan_int_rate,loan_percent_income,cb_person_cred_hist_length,credit_score,previous_loan_defaults_on_file,loan_status
0,22.0,female,Master,71948.0,0,RENT,35000.0,PERSONAL,16.02,0.49,3.0,561,No,1
1,21.0,female,High School,12282.0,0,OWN,1000.0,EDUCATION,11.14,0.08,2.0,504,Yes,0
2,25.0,female,High School,12438.0,3,MORTGAGE,5500.0,MEDICAL,12.87,0.44,3.0,635,No,1
3,23.0,female,Bachelor,79753.0,0,RENT,35000.0,MEDICAL,15.23,0.44,2.0,675,No,1
4,24.0,male,Master,66135.0,1,RENT,35000.0,MEDICAL,14.27,0.53,4.0,586,No,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44995,27.0,male,Associate,47971.0,6,RENT,15000.0,MEDICAL,15.66,0.31,3.0,645,No,1
44996,37.0,female,Associate,65800.0,17,RENT,9000.0,HOMEIMPROVEMENT,14.07,0.14,11.0,621,No,1
44997,33.0,male,Associate,56942.0,7,RENT,2771.0,DEBTCONSOLIDATION,10.02,0.05,10.0,668,No,1
44998,29.0,male,Bachelor,33164.0,4,RENT,12000.0,EDUCATION,13.23,0.36,6.0,604,No,1
44999,24.0,male,High School,51609.0,1,RENT,6665.0,DEBTCONSOLIDATION,17.05,0.13,3.0,628,No,1

In [5]:
# inforamation ke lie
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 45000 entries, 0 to 44999
Data columns (total 14 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   person_age                      45000 non-null  float64
 1   person_gender                   45000 non-null  str
 2   person_education                45000 non-null  str
 3   person_income                   45000 non-null  float64
 4   person_emp_exp                  45000 non-null  int64
 5   person_home_ownership           45000 non-null  str
 6   loan_amnt                       45000 non-null  float64
 7   loan_intent                     45000 non-null  str
 8   loan_int_rate                   45000 non-null  float64
 9   loan_percent_income             45000 non-null  float64
 10  cb_person_cred_hist_length      45000 non-null  float64
 11  credit_score                    45000 non-null  int64
 12  previous_loan_defaults_on_file  45000 non-null  str
 13  loan_status                     45000 non-null  int64
dtypes: float64(6), int64(3), str(5)
memory usage: 4.8 MB

In [6]:
#feactuers ke liye
df.columns

Index(['person_age', 'person_gender', 'person_education', 'person_income',
       'person_emp_exp', 'person_home_ownership', 'loan_amnt', 'loan_intent',
       'loan_int_rate', 'loan_percent_income', 'cb_person_cred_hist_length',
       'credit_score', 'previous_loan_defaults_on_file', 'loan_status'],
      dtype='str')

In [7]:
# kisi 1 column ko nikalne ke liye
df.person_age

0        22.0
1        21.0
2        25.0
3        23.0
4        24.0
         ...
44995    27.0
44996    37.0
44997    33.0
44998    29.0
44999    24.0
Name: person_age, Length: 45000, dtype: float64

In [8]:
df['person_age']

0        22.0
1        21.0
2        25.0
3        23.0
4        24.0
         ...
44995    27.0
44996    37.0
44997    33.0
44998    29.0
44999    24.0
Name: person_age, Length: 45000, dtype: float64

In [9]:
df[['person_age']]

       person_age
0            22.0
1            21.0
2            25.0
3            23.0
4            24.0
...           ...
44995        27.0
44996        37.0
44997        33.0
44998        29.0
44999        24.0

[45000 rows x 1 columns]

In [10]:
#upper se 5 value ke liye
df.head()

,person_age,person_gender,person_education,person_income,person_emp_exp,person_home_ownership,loan_amnt,loan_intent,loan_int_rate,loan_percent_income,cb_person_cred_hist_length,credit_score,previous_loan_defaults_on_file,loan_status
0,22.0,female,Master,71948.0,0,RENT,35000.0,PERSONAL,16.02,0.49,3.0,561,No,1
1,21.0,female,High School,12282.0,0,OWN,1000.0,EDUCATION,11.14,0.08,2.0,504,Yes,0
2,25.0,female,High School,12438.0,3,MORTGAGE,5500.0,MEDICAL,12.87,0.44,3.0,635,No,1
3,23.0,female,Bachelor,79753.0,0,RENT,35000.0,MEDICAL,15.23,0.44,2.0,675,No,1
4,24.0,male,Master,66135.0,1,RENT,35000.0,MEDICAL,14.27,0.53,4.0,586,No,1

In [11]:
#niche ki 5 value ke lie
df.tail()

,person_age,person_gender,person_education,person_income,person_emp_exp,person_home_ownership,loan_amnt,loan_intent,loan_int_rate,loan_percent_income,cb_person_cred_hist_length,credit_score,previous_loan_defaults_on_file,loan_status
44995,27.0,male,Associate,47971.0,6,RENT,15000.0,MEDICAL,15.66,0.31,3.0,645,No,1
44996,37.0,female,Associate,65800.0,17,RENT,9000.0,HOMEIMPROVEMENT,14.07,0.14,11.0,621,No,1
44997,33.0,male,Associate,56942.0,7,RENT,2771.0,DEBTCONSOLIDATION,10.02,0.05,10.0,668,No,1
44998,29.0,male,Bachelor,33164.0,4,RENT,12000.0,EDUCATION,13.23,0.36,6.0,604,No,1
44999,24.0,male,High School,51609.0,1,RENT,6665.0,DEBTCONSOLIDATION,17.05,0.13,3.0,628,No,1

In [12]:
#duplocate value ke liye matlab ki uniqe row kitni h agar row uniqe h to false or agar reapet h to true
df.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
44995    False
44996    False
44997    False
44998    False
44999    False
Length: 45000, dtype: bool

In [13]:
#duplicated value ka sum
df.duplicated().sum()

np.int64(0)

In [14]:
# duplicate row dekhne ke liye
df[df.duplicated()]

Empty DataFrame
Columns: [person_age, person_gender, person_education, person_income, person_emp_exp, person_home_ownership, loan_amnt, loan_intent, loan_int_rate, loan_percent_income, cb_person_cred_hist_length, credit_score, previous_loan_defaults_on_file, loan_status]
Index: []

In [15]:
#drop duplicate value
df.drop_duplicates()

,person_age,person_gender,person_education,person_income,person_emp_exp,person_home_ownership,loan_amnt,loan_intent,loan_int_rate,loan_percent_income,cb_person_cred_hist_length,credit_score,previous_loan_defaults_on_file,loan_status
0,22.0,female,Master,71948.0,0,RENT,35000.0,PERSONAL,16.02,0.49,3.0,561,No,1
1,21.0,female,High School,12282.0,0,OWN,1000.0,EDUCATION,11.14,0.08,2.0,504,Yes,0
2,25.0,female,High School,12438.0,3,MORTGAGE,5500.0,MEDICAL,12.87,0.44,3.0,635,No,1
3,23.0,female,Bachelor,79753.0,0,RENT,35000.0,MEDICAL,15.23,0.44,2.0,675,No,1
4,24.0,male,Master,66135.0,1,RENT,35000.0,MEDICAL,14.27,0.53,4.0,586,No,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44995,27.0,male,Associate,47971.0,6,RENT,15000.0,MEDICAL,15.66,0.31,3.0,645,No,1
44996,37.0,female,Associate,65800.0,17,RENT,9000.0,HOMEIMPROVEMENT,14.07,0.14,11.0,621,No,1
44997,33.0,male,Associate,56942.0,7,RENT,2771.0,DEBTCONSOLIDATION,10.02,0.05,10.0,668,No,1
44998,29.0,male,Bachelor,33164.0,4,RENT,12000.0,EDUCATION,13.23,0.36,6.0,604,No,1
44999,24.0,male,High School,51609.0,1,RENT,6665.0,DEBTCONSOLIDATION,17.05,0.13,3.0,628,No,1

In [16]:
df.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
44995    False
44996    False
44997    False
44998    False
44999    False
Length: 45000, dtype: bool

In [17]:
df.drop_duplicates(inplace=True)

In [18]:
df.duplicated().sum()

np.int64(0)

In [19]:
#null value check ke liye
df.isnull()

,person_age,person_gender,person_education,person_income,person_emp_exp,person_home_ownership,loan_amnt,loan_intent,loan_int_rate,loan_percent_income,cb_person_cred_hist_length,credit_score,previous_loan_defaults_on_file,loan_status
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44995,False,False,False,False,False,False,False,False,False,False,False,False,False,False
44996,False,False,False,False,False,False,False,False,False,False,False,False,False,False
44997,False,False,False,False,False,False,False,False,False,False,False,False,False,False
44998,False,False,False,False,False,False,False,False,False,False,False,False,False,False
44999,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [20]:
#sum of null value
df.isnull().sum()

person_age                        0
person_gender                     0
person_education                  0
person_income                     0
person_emp_exp                    0
person_home_ownership             0
loan_amnt                         0
loan_intent                       0
loan_int_rate                     0
loan_percent_income               0
cb_person_cred_hist_length        0
credit_score                      0
previous_loan_defaults_on_file    0
loan_status                       0
dtype: int64

In [21]:
#drop null value 
df.dropna(inplace=True)

In [22]:
df.isnull()

,person_age,person_gender,person_education,person_income,person_emp_exp,person_home_ownership,loan_amnt,loan_intent,loan_int_rate,loan_percent_income,cb_person_cred_hist_length,credit_score,previous_loan_defaults_on_file,loan_status
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44995,False,False,False,False,False,False,False,False,False,False,False,False,False,False
44996,False,False,False,False,False,False,False,False,False,False,False,False,False,False
44997,False,False,False,False,False,False,False,False,False,False,False,False,False,False
44998,False,False,False,False,False,False,False,False,False,False,False,False,False,False
44999,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [23]:
df

,person_age,person_gender,person_education,person_income,person_emp_exp,person_home_ownership,loan_amnt,loan_intent,loan_int_rate,loan_percent_income,cb_person_cred_hist_length,credit_score,previous_loan_defaults_on_file,loan_status
0,22.0,female,Master,71948.0,0,RENT,35000.0,PERSONAL,16.02,0.49,3.0,561,No,1
1,21.0,female,High School,12282.0,0,OWN,1000.0,EDUCATION,11.14,0.08,2.0,504,Yes,0
2,25.0,female,High School,12438.0,3,MORTGAGE,5500.0,MEDICAL,12.87,0.44,3.0,635,No,1
3,23.0,female,Bachelor,79753.0,0,RENT,35000.0,MEDICAL,15.23,0.44,2.0,675,No,1
4,24.0,male,Master,66135.0,1,RENT,35000.0,MEDICAL,14.27,0.53,4.0,586,No,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44995,27.0,male,Associate,47971.0,6,RENT,15000.0,MEDICAL,15.66,0.31,3.0,645,No,1
44996,37.0,female,Associate,65800.0,17,RENT,9000.0,HOMEIMPROVEMENT,14.07,0.14,11.0,621,No,1
44997,33.0,male,Associate,56942.0,7,RENT,2771.0,DEBTCONSOLIDATION,10.02,0.05,10.0,668,No,1
44998,29.0,male,Bachelor,33164.0,4,RENT,12000.0,EDUCATION,13.23,0.36,6.0,604,No,1
44999,24.0,male,High School,51609.0,1,RENT,6665.0,DEBTCONSOLIDATION,17.05,0.13,3.0,628,No,1

In [24]:
#string data ko select karne ke lie
char=df.select_dtypes(include="O")

C:\Users\hp\AppData\Local\Temp\ipykernel_22836\2706094488.py:2: Pandas4Warning: For backward compatibility, 'str' dtypes are included by select_dtypes when 'object' dtype is specified. This behavior is deprecated and will be removed in a future version. Explicitly pass 'str' to `include` to select them, or to `exclude` to remove them and silence this warning.
See https://pandas.pydata.org/docs/user_guide/migration-3-strings.html#string-migration-select-dtypes for details on how to write code that works with pandas 2 and 3.
  char=df.select_dtypes(include="O")

In [25]:
char

,person_gender,person_education,person_home_ownership,loan_intent,previous_loan_defaults_on_file
0,female,Master,RENT,PERSONAL,No
1,female,High School,OWN,EDUCATION,Yes
2,female,High School,MORTGAGE,MEDICAL,No
3,female,Bachelor,RENT,MEDICAL,No
4,male,Master,RENT,MEDICAL,No
...,...,...,...,...,...
44995,male,Associate,RENT,MEDICAL,No
44996,female,Associate,RENT,HOMEIMPROVEMENT,No
44997,male,Associate,RENT,DEBTCONSOLIDATION,No
44998,male,Bachelor,RENT,EDUCATION,No
44999,male,High School,RENT,DEBTCONSOLIDATION,No

In [26]:
# select integer data type
int=df.select_dtypes(exclude='O')

In [27]:
int

,person_age,person_income,person_emp_exp,loan_amnt,loan_int_rate,loan_percent_income,cb_person_cred_hist_length,credit_score,loan_status
0,22.0,71948.0,0,35000.0,16.02,0.49,3.0,561,1
1,21.0,12282.0,0,1000.0,11.14,0.08,2.0,504,0
2,25.0,12438.0,3,5500.0,12.87,0.44,3.0,635,1
3,23.0,79753.0,0,35000.0,15.23,0.44,2.0,675,1
4,24.0,66135.0,1,35000.0,14.27,0.53,4.0,586,1
...,...,...,...,...,...,...,...,...,...
44995,27.0,47971.0,6,15000.0,15.66,0.31,3.0,645,1
44996,37.0,65800.0,17,9000.0,14.07,0.14,11.0,621,1
44997,33.0,56942.0,7,2771.0,10.02,0.05,10.0,668,1
44998,29.0,33164.0,4,12000.0,13.23,0.36,6.0,604,1
44999,24.0,51609.0,1,6665.0,17.05,0.13,3.0,628,1

In [28]:
#column ki unique value ke liye
df['loan_intent'].unique()

<StringArray>
[         'PERSONAL',         'EDUCATION',           'MEDICAL',
           'VENTURE',   'HOMEIMPROVEMENT', 'DEBTCONSOLIDATION']
Length: 6, dtype: str

In [29]:
#count number of uniqe value
df['loan_intent'].nunique()

6

In [30]:
#uniqe value count ke liy
df['loan_intent'].value_counts()

loan_intent
EDUCATION            9153
MEDICAL              8548
VENTURE              7819
PERSONAL             7552
DEBTCONSOLIDATION    7145
HOMEIMPROVEMENT      4783
Name: count, dtype: int64

In [31]:
df

,person_age,person_gender,person_education,person_income,person_emp_exp,person_home_ownership,loan_amnt,loan_intent,loan_int_rate,loan_percent_income,cb_person_cred_hist_length,credit_score,previous_loan_defaults_on_file,loan_status
0,22.0,female,Master,71948.0,0,RENT,35000.0,PERSONAL,16.02,0.49,3.0,561,No,1
1,21.0,female,High School,12282.0,0,OWN,1000.0,EDUCATION,11.14,0.08,2.0,504,Yes,0
2,25.0,female,High School,12438.0,3,MORTGAGE,5500.0,MEDICAL,12.87,0.44,3.0,635,No,1
3,23.0,female,Bachelor,79753.0,0,RENT,35000.0,MEDICAL,15.23,0.44,2.0,675,No,1
4,24.0,male,Master,66135.0,1,RENT,35000.0,MEDICAL,14.27,0.53,4.0,586,No,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44995,27.0,male,Associate,47971.0,6,RENT,15000.0,MEDICAL,15.66,0.31,3.0,645,No,1
44996,37.0,female,Associate,65800.0,17,RENT,9000.0,HOMEIMPROVEMENT,14.07,0.14,11.0,621,No,1
44997,33.0,male,Associate,56942.0,7,RENT,2771.0,DEBTCONSOLIDATION,10.02,0.05,10.0,668,No,1
44998,29.0,male,Bachelor,33164.0,4,RENT,12000.0,EDUCATION,13.23,0.36,6.0,604,No,1
44999,24.0,male,High School,51609.0,1,RENT,6665.0,DEBTCONSOLIDATION,17.05,0.13,3.0,628,No,1

In [32]:
#drop 1 column
# df.drop('person_home_ownership',axis=1,inplace=True)

In [33]:
df

,person_age,person_gender,person_education,person_income,person_emp_exp,person_home_ownership,loan_amnt,loan_intent,loan_int_rate,loan_percent_income,cb_person_cred_hist_length,credit_score,previous_loan_defaults_on_file,loan_status
0,22.0,female,Master,71948.0,0,RENT,35000.0,PERSONAL,16.02,0.49,3.0,561,No,1
1,21.0,female,High School,12282.0,0,OWN,1000.0,EDUCATION,11.14,0.08,2.0,504,Yes,0
2,25.0,female,High School,12438.0,3,MORTGAGE,5500.0,MEDICAL,12.87,0.44,3.0,635,No,1
3,23.0,female,Bachelor,79753.0,0,RENT,35000.0,MEDICAL,15.23,0.44,2.0,675,No,1
4,24.0,male,Master,66135.0,1,RENT,35000.0,MEDICAL,14.27,0.53,4.0,586,No,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44995,27.0,male,Associate,47971.0,6,RENT,15000.0,MEDICAL,15.66,0.31,3.0,645,No,1
44996,37.0,female,Associate,65800.0,17,RENT,9000.0,HOMEIMPROVEMENT,14.07,0.14,11.0,621,No,1
44997,33.0,male,Associate,56942.0,7,RENT,2771.0,DEBTCONSOLIDATION,10.02,0.05,10.0,668,No,1
44998,29.0,male,Bachelor,33164.0,4,RENT,12000.0,EDUCATION,13.23,0.36,6.0,604,No,1
44999,24.0,male,High School,51609.0,1,RENT,6665.0,DEBTCONSOLIDATION,17.05,0.13,3.0,628,No,1

In [34]:
# 2 drop karne ke liy
#df.drop(['person_home_ownership','person_age'],axis=1,inplace=True)

In [35]:
df.drop(['loan_intent','previous_loan_defaults_on_file'],axis=1,inplace=True)

In [36]:
df

,person_age,person_gender,person_education,person_income,person_emp_exp,person_home_ownership,loan_amnt,loan_int_rate,loan_percent_income,cb_person_cred_hist_length,credit_score,loan_status
0,22.0,female,Master,71948.0,0,RENT,35000.0,16.02,0.49,3.0,561,1
1,21.0,female,High School,12282.0,0,OWN,1000.0,11.14,0.08,2.0,504,0
2,25.0,female,High School,12438.0,3,MORTGAGE,5500.0,12.87,0.44,3.0,635,1
3,23.0,female,Bachelor,79753.0,0,RENT,35000.0,15.23,0.44,2.0,675,1
4,24.0,male,Master,66135.0,1,RENT,35000.0,14.27,0.53,4.0,586,1
...,...,...,...,...,...,...,...,...,...,...,...,...
44995,27.0,male,Associate,47971.0,6,RENT,15000.0,15.66,0.31,3.0,645,1
44996,37.0,female,Associate,65800.0,17,RENT,9000.0,14.07,0.14,11.0,621,1
44997,33.0,male,Associate,56942.0,7,RENT,2771.0,10.02,0.05,10.0,668,1
44998,29.0,male,Bachelor,33164.0,4,RENT,12000.0,13.23,0.36,6.0,604,1
44999,24.0,male,High School,51609.0,1,RENT,6665.0,17.05,0.13,3.0,628,1

In [37]:
#query find out karne ke liy
df[df['person_gender']=='male']

,person_age,person_gender,person_education,person_income,person_emp_exp,person_home_ownership,loan_amnt,loan_int_rate,loan_percent_income,cb_person_cred_hist_length,credit_score,loan_status
4,24.0,male,Master,66135.0,1,RENT,35000.0,14.27,0.53,4.0,586,1
12,23.0,male,Bachelor,114860.0,3,RENT,35000.0,7.90,0.30,2.0,573,1
13,26.0,male,Master,130713.0,0,RENT,35000.0,18.39,0.27,4.0,708,1
16,23.0,male,Bachelor,144943.0,0,RENT,35000.0,7.90,0.24,4.0,663,0
18,23.0,male,Bachelor,136628.0,0,RENT,35000.0,18.25,0.26,4.0,709,1
...,...,...,...,...,...,...,...,...,...,...,...,...
44991,24.0,male,High School,37786.0,0,MORTGAGE,13500.0,13.43,0.36,4.0,612,1
44995,27.0,male,Associate,47971.0,6,RENT,15000.0,15.66,0.31,3.0,645,1
44997,33.0,male,Associate,56942.0,7,RENT,2771.0,10.02,0.05,10.0,668,1
44998,29.0,male,Bachelor,33164.0,4,RENT,12000.0,13.23,0.36,6.0,604,1
44999,24.0,male,High School,51609.0,1,RENT,6665.0,17.05,0.13,3.0,628,1

In [38]:
#encoding ke liye
df['person_education'].unique()

<StringArray>
['Master', 'High School', 'Bachelor', 'Associate', 'Doctorate']
Length: 5, dtype: str

In [39]:
person_edu={
    'Master':1, 'High School':2, 'Bachelor':3, 'Associate':4, 'Doctorate':5

}

In [40]:
df['person_education']=df['person_education'].map(person_edu)

In [41]:
df

,person_age,person_gender,person_education,person_income,person_emp_exp,person_home_ownership,loan_amnt,loan_int_rate,loan_percent_income,cb_person_cred_hist_length,credit_score,loan_status
0,22.0,female,1,71948.0,0,RENT,35000.0,16.02,0.49,3.0,561,1
1,21.0,female,2,12282.0,0,OWN,1000.0,11.14,0.08,2.0,504,0
2,25.0,female,2,12438.0,3,MORTGAGE,5500.0,12.87,0.44,3.0,635,1
3,23.0,female,3,79753.0,0,RENT,35000.0,15.23,0.44,2.0,675,1
4,24.0,male,1,66135.0,1,RENT,35000.0,14.27,0.53,4.0,586,1
...,...,...,...,...,...,...,...,...,...,...,...,...
44995,27.0,male,4,47971.0,6,RENT,15000.0,15.66,0.31,3.0,645,1
44996,37.0,female,4,65800.0,17,RENT,9000.0,14.07,0.14,11.0,621,1
44997,33.0,male,4,56942.0,7,RENT,2771.0,10.02,0.05,10.0,668,1
44998,29.0,male,3,33164.0,4,RENT,12000.0,13.23,0.36,6.0,604,1
44999,24.0,male,2,51609.0,1,RENT,6665.0,17.05,0.13,3.0,628,1

In [42]:
df['person_gender'].unique()

<StringArray>
['female', 'male']
Length: 2, dtype: str

In [43]:
gender_dict={
    'female':1, 'male':2
}

In [44]:
df['person_gender']=df['person_gender'].map(gender_dict)

In [45]:
df

,person_age,person_gender,person_education,person_income,person_emp_exp,person_home_ownership,loan_amnt,loan_int_rate,loan_percent_income,cb_person_cred_hist_length,credit_score,loan_status
0,22.0,1,1,71948.0,0,RENT,35000.0,16.02,0.49,3.0,561,1
1,21.0,1,2,12282.0,0,OWN,1000.0,11.14,0.08,2.0,504,0
2,25.0,1,2,12438.0,3,MORTGAGE,5500.0,12.87,0.44,3.0,635,1
3,23.0,1,3,79753.0,0,RENT,35000.0,15.23,0.44,2.0,675,1
4,24.0,2,1,66135.0,1,RENT,35000.0,14.27,0.53,4.0,586,1
...,...,...,...,...,...,...,...,...,...,...,...,...
44995,27.0,2,4,47971.0,6,RENT,15000.0,15.66,0.31,3.0,645,1
44996,37.0,1,4,65800.0,17,RENT,9000.0,14.07,0.14,11.0,621,1
44997,33.0,2,4,56942.0,7,RENT,2771.0,10.02,0.05,10.0,668,1
44998,29.0,2,3,33164.0,4,RENT,12000.0,13.23,0.36,6.0,604,1
44999,24.0,2,2,51609.0,1,RENT,6665.0,17.05,0.13,3.0,628,1

In [46]:
df['person_home_ownership'].unique()

<StringArray>
['RENT', 'OWN', 'MORTGAGE', 'OTHER']
Length: 4, dtype: str

In [47]:
person_home_ownership_dict={
    'RENT':1, 'OWN':2, 'MORTGAGE':3, 'OTHER':4
}

In [48]:
df['person_home_ownership']=df['person_home_ownership'].map(person_home_ownership_dict)

In [49]:
x=df.drop('person_income',axis=1)

In [50]:
x

,person_age,person_gender,person_education,person_emp_exp,person_home_ownership,loan_amnt,loan_int_rate,loan_percent_income,cb_person_cred_hist_length,credit_score,loan_status
0,22.0,1,1,0,1,35000.0,16.02,0.49,3.0,561,1
1,21.0,1,2,0,2,1000.0,11.14,0.08,2.0,504,0
2,25.0,1,2,3,3,5500.0,12.87,0.44,3.0,635,1
3,23.0,1,3,0,1,35000.0,15.23,0.44,2.0,675,1
4,24.0,2,1,1,1,35000.0,14.27,0.53,4.0,586,1
...,...,...,...,...,...,...,...,...,...,...,...
44995,27.0,2,4,6,1,15000.0,15.66,0.31,3.0,645,1
44996,37.0,1,4,17,1,9000.0,14.07,0.14,11.0,621,1
44997,33.0,2,4,7,1,2771.0,10.02,0.05,10.0,668,1
44998,29.0,2,3,4,1,12000.0,13.23,0.36,6.0,604,1
44999,24.0,2,2,1,1,6665.0,17.05,0.13,3.0,628,1

In [51]:
y=df[['person_income']]

In [52]:
y

       person_income
0            71948.0
1            12282.0
2            12438.0
3            79753.0
4            66135.0
...              ...
44995        47971.0
44996        65800.0
44997        56942.0
44998        33164.0
44999        51609.0

[45000 rows x 1 columns]

In [53]:
# df.to_csv('clean loan_data.csv')

In [54]:
x

,person_age,person_gender,person_education,person_emp_exp,person_home_ownership,loan_amnt,loan_int_rate,loan_percent_income,cb_person_cred_hist_length,credit_score,loan_status
0,22.0,1,1,0,1,35000.0,16.02,0.49,3.0,561,1
1,21.0,1,2,0,2,1000.0,11.14,0.08,2.0,504,0
2,25.0,1,2,3,3,5500.0,12.87,0.44,3.0,635,1
3,23.0,1,3,0,1,35000.0,15.23,0.44,2.0,675,1
4,24.0,2,1,1,1,35000.0,14.27,0.53,4.0,586,1
...,...,...,...,...,...,...,...,...,...,...,...
44995,27.0,2,4,6,1,15000.0,15.66,0.31,3.0,645,1
44996,37.0,1,4,17,1,9000.0,14.07,0.14,11.0,621,1
44997,33.0,2,4,7,1,2771.0,10.02,0.05,10.0,668,1
44998,29.0,2,3,4,1,12000.0,13.23,0.36,6.0,604,1
44999,24.0,2,2,1,1,6665.0,17.05,0.13,3.0,628,1

In [55]:
y

       person_income
0            71948.0
1            12282.0
2            12438.0
3            79753.0
4            66135.0
...              ...
44995        47971.0
44996        65800.0
44997        56942.0
44998        33164.0
44999        51609.0

[45000 rows x 1 columns]

In [56]:
! pip install scikit-learn

Requirement already satisfied: scikit-learn in c:\users\hp\desktop\data science\liet_data\lib\site-packages (1.8.0)
Requirement already satisfied: numpy>=1.24.1 in c:\users\hp\desktop\data science\liet_data\lib\site-packages (from scikit-learn) (2.4.2)
Requirement already satisfied: scipy>=1.10.0 in c:\users\hp\desktop\data science\liet_data\lib\site-packages (from scikit-learn) (1.17.0)
Requirement already satisfied: joblib>=1.3.0 in c:\users\hp\desktop\data science\liet_data\lib\site-packages (from scikit-learn) (1.5.3)
Requirement already satisfied: threadpoolctl>=3.2.0 in c:\users\hp\desktop\data science\liet_data\lib\site-packages (from scikit-learn) (3.6.0)

[notice] A new release of pip is available: 23.2.1 -> 26.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [57]:
import sklearn as sns

In [58]:
from sklearn.model_selection import train_test_split
x_train , x_test , y_train ,y_test =train_test_split(x , y , test_size=0.2, random_state= 42)

In [59]:
print(x_train.shape, x_test.shape , y_train.shape ,y_test.shape)

(36000, 11) (9000, 11) (36000, 1) (9000, 1)

In [60]:
x_train

,person_age,person_gender,person_education,person_emp_exp,person_home_ownership,loan_amnt,loan_int_rate,loan_percent_income,cb_person_cred_hist_length,credit_score,loan_status
25180,34.0,1,3,11,3,15000.0,12.73,0.15,9.0,631,0
12555,25.0,2,2,3,1,12000.0,11.86,0.16,4.0,659,0
29153,41.0,1,1,18,3,24000.0,10.37,0.07,11.0,683,0
23838,27.0,2,4,4,1,9600.0,17.14,0.10,7.0,641,0
35686,27.0,2,1,7,1,7059.0,12.97,0.08,3.0,706,0
...,...,...,...,...,...,...,...,...,...,...,...
11284,26.0,2,2,6,3,10625.0,6.03,0.12,4.0,559,0
44732,25.0,1,2,3,3,5876.0,11.69,0.17,4.0,647,1
38158,33.0,1,4,9,3,10707.0,10.74,0.18,9.0,652,0
860,26.0,2,1,6,1,20000.0,17.99,0.11,3.0,604,1
15795,26.0,1,2,4,3,15000.0,11.01,0.07,3.0,664,0

In [61]:
y_train

       person_income
25180        97265.0
12555        72953.0
29153       322597.0
23838        94232.0
35686        84873.0
...              ...
11284        88451.0
44732        34772.0
38158        58317.0
860         178602.0
15795       210894.0

[36000 rows x 1 columns]

In [62]:
x_test

,person_age,person_gender,person_education,person_emp_exp,person_home_ownership,loan_amnt,loan_int_rate,loan_percent_income,cb_person_cred_hist_length,credit_score,loan_status
37979,32.0,2,4,10,3,7500.0,6.04,0.08,10.0,601,0
9911,24.0,2,4,6,1,9000.0,11.49,0.16,4.0,647,0
43386,22.0,1,1,0,1,5000.0,14.88,0.13,4.0,711,1
13822,23.0,1,3,1,2,5000.0,13.99,0.13,3.0,597,0
44810,42.0,2,2,20,3,10000.0,15.41,0.15,11.0,586,1
...,...,...,...,...,...,...,...,...,...,...,...
14572,21.0,2,3,0,3,14000.0,9.99,0.11,2.0,654,0
30384,39.0,2,2,17,1,6725.0,16.45,0.11,11.0,606,0
36665,24.0,1,1,1,1,14000.0,11.65,0.18,3.0,614,0
30569,38.0,2,4,16,1,8000.0,11.01,0.22,14.0,695,0
5321,25.0,1,2,0,1,8500.0,11.14,0.24,3.0,635,0

In [63]:
y_test

       person_income
37979        96865.0
9911         56838.0
43386        37298.0
13822        39944.0
44810        67974.0
...              ...
14572       133205.0
30384        61889.0
36665        78950.0
30569        37142.0
5321         35216.0

[9000 rows x 1 columns]

In [64]:
from sklearn.linear_model import LinearRegression
lr =LinearRegression()

In [65]:
df

,person_age,person_gender,person_education,person_income,person_emp_exp,person_home_ownership,loan_amnt,loan_int_rate,loan_percent_income,cb_person_cred_hist_length,credit_score,loan_status
0,22.0,1,1,71948.0,0,1,35000.0,16.02,0.49,3.0,561,1
1,21.0,1,2,12282.0,0,2,1000.0,11.14,0.08,2.0,504,0
2,25.0,1,2,12438.0,3,3,5500.0,12.87,0.44,3.0,635,1
3,23.0,1,3,79753.0,0,1,35000.0,15.23,0.44,2.0,675,1
4,24.0,2,1,66135.0,1,1,35000.0,14.27,0.53,4.0,586,1
...,...,...,...,...,...,...,...,...,...,...,...,...
44995,27.0,2,4,47971.0,6,1,15000.0,15.66,0.31,3.0,645,1
44996,37.0,1,4,65800.0,17,1,9000.0,14.07,0.14,11.0,621,1
44997,33.0,2,4,56942.0,7,1,2771.0,10.02,0.05,10.0,668,1
44998,29.0,2,3,33164.0,4,1,12000.0,13.23,0.36,6.0,604,1
44999,24.0,2,2,51609.0,1,1,6665.0,17.05,0.13,3.0,628,1

In [66]:
lr.fit(x_train,y_train)

LinearRegression()

In [67]:
x_test

,person_age,person_gender,person_education,person_emp_exp,person_home_ownership,loan_amnt,loan_int_rate,loan_percent_income,cb_person_cred_hist_length,credit_score,loan_status
37979,32.0,2,4,10,3,7500.0,6.04,0.08,10.0,601,0
9911,24.0,2,4,6,1,9000.0,11.49,0.16,4.0,647,0
43386,22.0,1,1,0,1,5000.0,14.88,0.13,4.0,711,1
13822,23.0,1,3,1,2,5000.0,13.99,0.13,3.0,597,0
44810,42.0,2,2,20,3,10000.0,15.41,0.15,11.0,586,1
...,...,...,...,...,...,...,...,...,...,...,...
14572,21.0,2,3,0,3,14000.0,9.99,0.11,2.0,654,0
30384,39.0,2,2,17,1,6725.0,16.45,0.11,11.0,606,0
36665,24.0,1,1,1,1,14000.0,11.65,0.18,3.0,614,0
30569,38.0,2,4,16,1,8000.0,11.01,0.22,14.0,695,0
5321,25.0,1,2,0,1,8500.0,11.14,0.24,3.0,635,0

In [68]:
pred=lr.predict(x_test)

In [69]:
lst=[32.0,	2	,4	,10	,3,	7500.0,	6.04,	0.08	,10.0,	601	,0]

In [70]:
lr.predict([lst])

c:\Users\hp\Desktop\Data science\liet_data\Lib\site-packages\sklearn\utils\validation.py:2691: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([[104914.43274257]])

In [71]:
pred

array([[104914.43274257],
       [ 53692.75712029],
       [ 36037.0415025 ],
       ...,
       [ 79120.5286892 ],
       [ 33740.05304821],
       [ 10649.22972226]], shape=(9000, 1))

In [72]:
y_test

       person_income
37979        96865.0
9911         56838.0
43386        37298.0
13822        39944.0
44810        67974.0
...              ...
14572       133205.0
30384        61889.0
36665        78950.0
30569        37142.0
5321         35216.0

[9000 rows x 1 columns]

In [73]:
from sklearn.ensemble import RandomForestRegressor
rfg =RandomForestRegressor()

In [74]:
rfg.fit(x_train,y_train)

c:\Users\hp\Desktop\Data science\liet_data\Lib\site-packages\sklearn\base.py:1336: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

RandomForestRegressor()

In [75]:
lst=[[32.0,	2	,4	,10	,3,	7500.0,	6.04,	0.08	,10.0,	601	,0]]
rfg.predict(lst)

c:\Users\hp\Desktop\Data science\liet_data\Lib\site-packages\sklearn\utils\validation.py:2691: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  warnings.warn(

array([94596.26])

In [76]:
x_test

,person_age,person_gender,person_education,person_emp_exp,person_home_ownership,loan_amnt,loan_int_rate,loan_percent_income,cb_person_cred_hist_length,credit_score,loan_status
37979,32.0,2,4,10,3,7500.0,6.04,0.08,10.0,601,0
9911,24.0,2,4,6,1,9000.0,11.49,0.16,4.0,647,0
43386,22.0,1,1,0,1,5000.0,14.88,0.13,4.0,711,1
13822,23.0,1,3,1,2,5000.0,13.99,0.13,3.0,597,0
44810,42.0,2,2,20,3,10000.0,15.41,0.15,11.0,586,1
...,...,...,...,...,...,...,...,...,...,...,...
14572,21.0,2,3,0,3,14000.0,9.99,0.11,2.0,654,0
30384,39.0,2,2,17,1,6725.0,16.45,0.11,11.0,606,0
36665,24.0,1,1,1,1,14000.0,11.65,0.18,3.0,614,0
30569,38.0,2,4,16,1,8000.0,11.01,0.22,14.0,695,0
5321,25.0,1,2,0,1,8500.0,11.14,0.24,3.0,635,0

In [77]:
pred =rfg.predict(x_test)

In [78]:
pred

array([94596.26, 56428.71, 38882.65, ..., 77728.8 , 36462.04, 35274.11],
      shape=(9000,))

In [79]:
y_test

       person_income
37979        96865.0
9911         56838.0
43386        37298.0
13822        39944.0
44810        67974.0
...              ...
14572       133205.0
30384        61889.0
36665        78950.0
30569        37142.0
5321         35216.0

[9000 rows x 1 columns]